/* 
 * Globals 
 */

 body {
	background: $background-dark;
	font-family: $font;
	height: 100%;
	margin: 0;
}

ul {
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

li {
	list-style: none;
}

h1 {
	transition: all $transitions;
}

h1:hover {
  animation: neon 5s infinite alternate;
}