/*
 * Header
 */

.header {
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.intro-header {
	overflow: hidden;
	background: linear-gradient(to bottom, $background-dark-2, $background-dark);
	height: 100vh;
}

.divider {
	width: 300px;
	border-top: 1px solid $color-gray;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-header .container {
	z-index: 1;
}
.intro-header a {
	color: $color-white;
	text-decoration: none;
	opacity: 0.5;
}

.intro-header a:hover {
	color: $color-white;
	text-decoration: none;
	opacity: 1;
}

.intro-header .social-networks a {
	color: $color-white;
	text-decoration: none;
	opacity: 0.5;
}

.intro-header .social-networks a:hover {
	color: $color-white;
	text-decoration: none;
	opacity: 1;
}

.intro-header .social-networks a i {
	font-size: 1.8em;
}