/* 
 * Social networks
 */

 .social-networks {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	transition: $transitions;
	width: 100%;
}

.social-networks a {
	color: #000;
	text-decoration: none;
}

.social-networks a:hover {
	color: #000;
	text-decoration: none;
}

.social-networks a i {
	cursor: pointer;
	font-size: 1.2em;
	margin: 0 10px;
	transition: transform 350ms ease;
}
.social-networks a:hover>i {
	transform: translateY(-5px) scale(2);
}

.fa-facebook:hover { color: #1873eb; }
.fa-instagram:hover {	color:  #c5007a; }
.fa-whatsapp:hover { color: #00a356; }
.fa-linkedin:hover { color: #0073b1; }