/*
 * Styles
 *
 * background-dark: #0d1117;
 * background-dark-2: #161b22;
 * color-white: #fff;
 * color-gray: #ffffff80;
 * font: 'Poppins', sans-serif;
 * transitions: 20ms;
 *
 */

// Variables

$background-dark: #0d1117;
$background-dark-2: #161b22;
$background-hover: #ffffff1b;
$color-white: #fff;
$color-gray: #ffffff80;
$font: 'Poppins', sans-serif;
$transitions: 200ms;
