/*==================== BUTTONS ====================*/

.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	font-weight: var(--font-medium);
	transition: 0.3s;
}

.button:hover {
	background-color: var(--first-color-alt);
}

.button__icon {
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
}

.button--flex {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.button--smal {
	padding: 0.75rem 1rem;
}

.button--link {
	padding: 0;
	background-color: transparent;
	color: var(--text-color);
}

.button--link:hover {
	background-color: transparent;
	color: var(--first-color-alt);
}

.button--white {
	color: #fff;
	background-color: var(--first-color-alt);
}

.button--white:hover {
	background-color: #fff;
	color: var(--first-color-alt);
}
