/*==================== CONTACT ME ====================*/

.contact__container {
	row-gap: 3rem;
}

.contact__information {
	display: flex;
	margin-bottom: var(--mb-2);
}

.contact__icon {
	font-size: 2rem;
	color: var(--first-color);
	margin-right: var(--mb-0-75);
}

.contact__title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
}

.contact__content {
	background-color: var(--input-color);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
	font-size: small;
}

.contact__input {
	width: 100%;
	background-color: var(--input-color);
	color: var(--text-color);
	font-family: var(--body-color);
	font-size: var(--normal-font-size);
	border: none;
	outline: none;
	padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact__subtitle a {
	color: var(--text-color);
	text-decoration: none;
}
