:root {
  /* Cinza */
  --c0: #ffffff;
  --c1: #f5f5f5;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #cccccc;
  --c5: #b8b8b8;
  --c6: #a3a3a3;
  --c7: #8f8f8f;
  --c8: #7a7a7a;
  --c9: #666666;
  --c10: #525252;
  --c11: #3d3d3d;
  --c12: #292929;
  --c13: #141414;
  --c14: #000000;
  /* Violeta */
  --v0: #b629f8;
  --v1: #a839ff;
  --v2: #800add;
  --v3: #701cda;
  --v4: #365599;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira sans", Arial, sans-serif;
  margin: 0px;
  color: var(--c14);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  height: 100vh;
  padding: 40px 20px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  user-select: none;
}
