.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--c14);
  display: block;
}

.header-menu a:hover {
  color: var(--v3);
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-top: 8px;
  transition: 0.3s;
  background: var(--v3);
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}
