.introducao {
	height: 75vh;
	align-items: center;
	justify-items: center;
}

.introducao h1 {
	font-size: 4.5rem;
	line-height: 1.125;
	position: relative;
}

.introducao h1::before {
	content: "";
	display: block;
	width: 130px;
	height: 100px;
	background: url("../svg/detail.svg") no-repeat center;
	position: absolute;
	top: -15px;
	left: -40px;
	z-index: -1;
}

.stack {
	display: flex;
	align-items: top;
	justify-content: center;
	position: relative;
}

.typing {
	position: absolute;
}

.typing::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 95%;
	border-right: 2px solid black;
	right: -5px;
	animation: blink 0.8s infinite ease;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 1150px) {
	.introducao h1 {
		font-size: 3rem;
	}

	.introducao h1::before {
		width: 30px;
		height: 10px;
		left: 0px;
	}
}

@media (max-width: 800px) {
	.introducao {
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;
		height: 100vh;
		align-items: center;
		justify-content: flex-end;
	}

	.introducao img {
		width: 400px;
		align-content: center;
		align-items: center;
	}

	.introducao h1 {
		font-size: 2.5rem;
		margin: 0 auto;
	}

	.stack {
		margin-bottom: 50px;
	}
}

@media (max-width: 460px) {
	.introducao h1 {
		font-size: 2rem;
	}
}
