.introducao {
  align-items: center;
  justify-items: center;
  margin-bottom: 90px;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../svg/detail.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

@media (max-width: 1150px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 800px) {
  .introducao {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
  }

  .introducao img {
    align-content: center;
    align-items: center;
  }

  .introducao h1 {
    font-size: 2.5rem;
    margin: 0 auto;
  }
}
