/*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
	width: 0.6rem;
	background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
}
