/*==================== SERVICES ====================*/

.services__container {
	gap: 1.5rem;
	grid-template-columns: repeat(2, 1fr);
}

.services__content {
	position: relative;
	background-color: var(--container-color);
	padding: 3.5rem 0.5rem 1.25rem 1.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	transition: 0.3s;
}

.services__content:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
	display: block;
	font-size: 1.5rem;
	color: var(--first-color-alt);
	margin-bottom: var(--mb-1);
}

.services__title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1);
}

.services__button {
	cursor: pointer;
	transition: 0.3s;
	font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
	transform: translateX(0.25rem);
}

.services__modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 1rem;
	z-index: var(--z-modal);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.services__modal-content {
	position: relative;
	background-color: var(--container-color);

	padding: 1.5rem;
	border-radius: 0.5rem;
}

.services__modal-services {
	row-gap: 1rem;
}

.services__modal-service {
	display: flex;
}

.services__modal-title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1-5);
}

.services__modal-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	color: var(--first-color);
	cursor: pointer;
}

.services__modal-icon {
	color: var(--first-color);
	margin-right: var(--mb-0-25);
}

/* Active Modal */

.active-modal {
	opacity: 1;
	visibility: visible;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.inactive-modal {
	opacity: 0;
	visibility: hidden;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* Animations */

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
